<h1>Your Joyrides</h1>

<% @devices.each do |device| %>
  <%= link_to raw("<span class='glyphicon glyphicon-cd'></span> #{device.name}"), device, class: 'btn btn-primary btn-lg' %>
  <br /><br />
  <%= link_to raw("<span class='glyphicon glyphicon-cd'></span> Add Joyride"), new_device_path, class: 'btn btn-primary btn-lg ghost' %>
<% end %>


<br>



<br />
<br />
