<p id="notice"><%= notice %></p>

<%= link_to 'Back', devices_path %>

<h1><%= @device.name %> <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_device_path(@device), class: 'btn btn-primary btn-sm' %></h1>
