//
//
//  ==========================================================
//  Table of Contents
//  ==========================================================
//  Bootstrap
//  Fonts
//  Variables
//  Bootstrap Overrides
//  Reusable Components
//  Page Specific Styles
//
//
//


//
//
//  ==========================================================
//  Bootstrap
//  ==========================================================
//
//
@import "bootstrap-sprockets";
@import "bootstrap";


//
//
//  ==========================================================
//  Variables
//  ==========================================================
//
//
$orange : #f2af0e;
$darkorange : #d99d0d;
$lightorange : #ffd776;

//
//
//  ==========================================================
//  Bootstrap Overrides
//  ==========================================================
//
//
body {
	background: asset_url('bike.jpg') fixed center center;
	background-size: cover;
}

a {
	color: $orange;

	&:hover {
		color: $darkorange;
	}
}

// Ghosting for a button
.ghost {
	background: none !important;
	color: $orange;
	border-style: dashed;

	&:hover {
		color: $orange;
		border-style: solid;
	}
}

.btn-primary {
	background-color: $orange;
	border-color: $orange;

	&:hover {
		background-color: $darkorange;
		border-color: $darkorange;
	}

}
.navbar {
	background: none;
	background-color: rgba(0,0,0,.2);

	.devices {
		background-color: $orange;
		a:hover {
			color: #000 !important;
		}

		&.active {
			a {
				background-color: $darkorange !important;
			}
		}
	}

	&.navbar-default {
		a,  li a {
			//background: none;
			color: #fff;
			&:hover {
				color: $orange;
			}
		}
	}

	.dropdown-menu {
		color: #666;
		background-color: #000;
		background-color: rgba(0,0,0,.5);
	}

	border: none;

	.navbar-nav {
	//	//background: none;
		//a {
		//	background-color: #000;
		//	background-color: rgba(0,0,0,.5)
		//}
	}
}

//
//
//  ==========================================================
//  Page Specific
//  ==========================================================
//
//
.home {
}